.App {
  text-align: center;
}


.header{
  background: black;
  top: 0px;
  height: 80px;
  position: relative; 
  text-align: center;
  color: orangered;
}

.body{
  background: black;
  top: 0px;
  height: auto;
  position: relative; 
  text-align: center;
  color: aliceblue;
}

.footer{
  background: black;
  color: orangered;
  top: 0px;
  height: auto;
  width: auto;
  position: relative;
}



